<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<context-param>
		<param-name>driver</param-name>
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>
	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>abdulla</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>abdoracle</param-value>
	</context-param>
	<display-name>HttpSessionAndRedirect</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>Reg1Servlet</display-name>
		<servlet-name>Reg1Servlet</servlet-name>
		<servlet-class>httpSessionAndRedirect.Reg1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reg1Servlet</servlet-name>
		<url-pattern>/reg1</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Reg2Servlet</display-name>
		<servlet-name>Reg2Servlet</servlet-name>
		<servlet-class>httpSessionAndRedirect.Reg2Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reg2Servlet</servlet-name>
		<url-pattern>/reg2</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Reg3Servlet</display-name>
		<servlet-name>Reg3Servlet</servlet-name>
		<servlet-class>httpSessionAndRedirect.Reg3Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reg3Servlet</servlet-name>
		<url-pattern>/reg3</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>httpSessionAndRedirect.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<listener>
	<listener-class>httpSessionAndRedirect.RegDao</listener-class>
	</listener>
</web-app>